<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accordian List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-accordiancomponent title="Your Title 1">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordiancomponent>

  <app-accordiancomponent title="Your Title 2">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordiancomponent>

  <app-accordiancomponent title="Your Title 3">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordiancomponent>
</ion-content>
