<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-item button detail="true" [routerLink]="['/ionic-storage']">
          <ion-label class="ion-text-wrap">
            1.Ionic Storage CRUD
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/rxjs-vs-event-api']">
          <ion-label class="ion-text-wrap">
            <ion-label class="ion-text-wrap">
              2.Ionic Event VS Rxjs Ionic 5
            </ion-label>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/searchable-select']">
          <ion-label class="ion-text-wrap">
            3.Searchable-Select
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/ion-skeleton']">
          <ion-label class="ion-text-wrap">
            4.Ion-Skeleton
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/image']">
          <ion-label class="ion-text-wrap">
            5. Zoom Image
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/reactive-form']">
          <ion-label class="ion-text-wrap">
            6. Angular Reactive Form - Dynamic - Simple
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/reactive-form-two']">
          <ion-label class="ion-text-wrap">
            7. Angular Reactive Dynamic Form With CheckBox Controll - Advance
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/rating']">
          <ion-label class="ion-text-wrap">
            8. Dynamic Bar-Rating-Component
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/swiper-api']">
          <ion-label class="ion-text-wrap">
            9. Swiper Slider Api
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [routerLink]="['/accordian']">
          <ion-label class="ion-text-wrap">
            10. Ionic Accordian List
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
